---
layout: default
---

<div id="content">
    <h2>Please see Xiao-Ou Zhang's <a href="https://scholar.google.com/citations?user=KpX6MewAAAAJ"
            target="_blank">Google Scholar</a> for the full list of publications.</h2>
    <div class="searchbox">
        <div id="filterform"></div>
        <div class="clear"></div>
    </div>
    <div>
        <ul id="filterlist">
            {% for paper in site.data.publications %}
            <li {% if paper.hot %}class="hot" {% endif %}>
                <div class="publication">
                    <div>
                        <div class="pubtitle">{{ paper.title }}</div>
                        <div class="pubauthors">{{ paper.authors }}</div>
                        <div class="pubjournal">{{ paper.journal }}</div>
                        <div class="publinks"> <a target="_blank"
                                href="https://doi.org/{{ paper.doi }}">[Link]</a> </div>
                    </div>
                    <div>
                        <span class="__dimensions_badge_embed__" data-pmid="{{ paper.doi }}"
                            data-style="small_circle"></span>
                        <script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
                    </div>
                </div>
                {% if paper.abstract %}
                <div class="pubabstract"><strong>Abstract</strong>: {{ paper.abstract }}</div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>