<header id="header">
    <nav id="navbar">
        <a class="brand" href="/">
            <img class="brand-logo" src="{{ '/images/icons/logo.png' | relative_url }}" alt="Xiao-Ou Zhang Lab" />
            <span class="brand-text">Xiao-Ou Zhang <em>Lab</em></span>
        </a>
        <button id="nav-toggle" aria-label="Toggle navigation" aria-expanded="false">
            <span></span><span></span><span></span>
        </button>
        <ul id="menu">
            <li {% if page.url=="/" %} class="current" {% endif %}>
                <a href="/">Home</a>
            </li>
            <li {% if page.url=="/team.html" %} class="current" {% endif %}>
                <a href="/team">Team</a>
            </li>
            <li {% if page.url=="/publications.html" %} class="current" {% endif %}>
                <a href="/publications">Publications</a>
            </li>
            <li {% if page.url=="/softwares.html" %} class="current" {% endif %}>
                <a href="/softwares">Softwares</a>
            </li>
        </ul>
    </nav>
</header>
