html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #F7F7F7;
  color: #555;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;
}

#particles-js {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  position: fixed;
  z-index: -1;
}

p {
  padding: 0 0 20px 0;
  line-height: 1.5em;
  font-size: 107%;
}

img {
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: normal 250% 'Yanone Kaffeesatz', arial, sans-serif;
  color: #444;
  margin: 0 0 10px 0;
  padding: 5px 0 5px 0;
}

h2 {
  font: normal 170% 'Yanone Kaffeesatz', arial, sans-serif;
  color: #444;
  margin: 0 0 5px 0;
  padding: 0 0 8px 0;
}

h3 {
  font-size: 200%;
  margin: 0 0 5px 0;
  color: #F14E23;
}

h4,
h5,
h6 {
  margin: 0;
  padding: 0 0 5px 0;
  font: normal 100% arial, sans-serif;
  color: #F14E23;
  line-height: 1em;
}

h5,
h6 {
  font: italic 95% arial, sans-serif;
  color: #888;
  padding-bottom: 15px;
}

h6 {
  color: #362C20;
}

a,
a:hover {
  outline: none;
  text-decoration: none;
  color: #35BDF5;
}

a:hover {
  text-decoration: underline;
}

.left {
  float: left;
  width: auto;
  margin-right: 10px;
}

.right {
  float: right;
  width: auto;
  margin-left: 10px;
}

.center {
  display: block;
  text-align: center;
  margin: 20px auto;
}

ul {
  margin: 2px 0 22px 17px;
}

ul li {
  list-style-type: circle;
  margin: 0 0 0 0;
  padding: 0 0 4px 5px;
}

ol {
  margin: 8px 0 22px 20px;
}

ol li {
  margin: 0 0 11px 0;
}

#main,
#header,
#logo,
#menubar,
#site_content,
#footer {
  margin-left: auto;
  margin-right: auto;
}

#main {
  width: 950px;
  margin: 20px auto;
}

#header {
  width: 952px;
  height: 145px;
}

#logo {
  width: 950px;
  float: left;
  height: 100px;
  background: transparent;
  padding: 0 0 0px 10px;
}

#logo h1 {
  font: normal 380% 'Yanone Kaffeesatz', arial, sans-serif;
  padding: 5px 0 0 17px;
  color: #555;
  float: left;
}

#logo h1 a {
  color: #35BDF5;
  text-decoration: none;
}

#logo h1 a:hover {
  color: #555;
  text-decoration: none;
}

.slogan {
  float: right;
  padding-right: 25px;
  text-align: right;
  text-shadow: 5px 6px 5px rgba(64, 64, 64, 0.2);
  font: 500% 'tangerine', arial;
  color: #111;
}

#menubar {
  height: 46px;
  width: 80%;
  margin: 0px auto -1px auto;
  float: right;
  padding: 0 3% 0 0;
}

ul#menu {
  float: right;
}

ul#menu li {
  float: left;
  padding: 0 0 0px 0px;
  list-style: none;
  margin: 2px 0 0 0;
  background: transparent;
}

ul#menu li a {
  font: normal 170% 'Yanone Kaffeesatz', sans-serif;
  text-decoration: none;
  color: #444;
  display: block;
  float: left;
  height: 20px;
  padding: 7px 23px 15px 23px;
  text-align: center;
}

ul#menu li.current a {
  height: 20px;
  padding: 6px 22px 15px 22px;
}

ul#menu li.current a {
  background: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #ddd;
  border-bottom: 0;
  color: #F14E23;
}

ul#menu li a:hover {
  color: #F14E23;
}

#content {
  width: 950px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 0;
  background: #fff;
  border: 1px solid #E7E7E7;
  border-radius: 10px;

  float: left;
  text-align: left;

  padding: 10px 20px 10px 20px;
  margin: 0;
}

#panoraba {
  clear: both;
}

#sidebar_container {
  float: right;
  width: 250px;
  margin: 25px 0 10px 0;

}

.sidebar {
  width: 200px;
  margin: 0 24px 27px 0;
  border: 1px solid #eee;
  padding: 0 15px 15px 15px;
  box-shadow: 7px 5px 5px rgba(64, 64, 64, 0.2);

  background: rgb(252, 252, 252);
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(252, 252, 252, 1) 55%, rgba(247, 241, 205, 1) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(55%, rgba(252, 252, 252, 1)), color-stop(100%, rgba(247, 241, 205, 1)));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(252, 252, 252, 1) 55%, rgba(247, 241, 205, 1) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(252, 252, 252, 1) 55%, rgba(247, 241, 205, 1) 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(252, 252, 252, 1) 55%, rgba(247, 241, 205, 1) 100%);
  /* IE10+ */
  background: radial-gradient(center, ellipse cover, rgba(252, 252, 252, 1) 55%, rgba(247, 241, 205, 1) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f7f1cd', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

}


.sidebar h2 {
  font-size: 200%;
}

.sidebar h4 {
  font-size: 140%;
}

.sidebar h2,
.content h1 {
  padding: 10px 15px;
  margin: 0 1px;
}


.sidebar h1 {
  padding: 5px 0 0 0;
}

.sidebar iframe {
  margin: 10px 2px 1px 2px;
}

.paperclip {
  float: left;
  position: relative;
  z-index: 0;
  vertical-align: middle;
  margin: -27px 0 -60px -30px;
}

#main_column {
  float: left;
  text-align: left;
  width: 670px;
  padding: 0 0 0 5px;
  margin: 0;
}


#content ul {
  margin: 2px 0 22px 0px;
}

ul li {
  list-style-type: none;
  margin: 0 0 6px 0;
  padding: 0 0 4px 25px;
  line-height: 1.5em;
}

#content #filterlist li {
  background: url(../../images/icons/document.png) no-repeat;
  padding: 0 0 4px 50px;

  border: solid 1px #fff;
  border-radius: 10px;
}

#content #filterlist li.hot {
  background: url(../../images/icons/document-hot.png) no-repeat;
}

#content #software #filterlist li {
  background: transparent;
  padding: 0 0 4px 0px;

  border: solid 1px #fff;
  border-radius: 10px;
  clear: both;
  overflow: hidden;
}

#content #filterlist li:hover {
  border: solid 1px #555;
  border-radius: 10px;

}

#content #software #filterlist li:hover {
  border: solid 1px #555;
  border-radius: 10px;
}

div.highlighting_section {
  padding: 10px 15px 10px 15px;
  border: solid 1px #fff;
  border-radius: 10px;
}

div.highlighting_section:hover {
  padding: 10px 15px 10px 15px;
  border: solid 1px #555;
  border-radius: 10px;
}

#footer {
  clear: both;
  width: 100%;
  font: normal 140% 'yanone kaffeesatz', arial, sans-serif;
  height: 85px;
  padding: 20px 0 5px 0;
  text-align: right;
  verticle-align: middle;
  color: #555;
  background: transparent;
  margin-bottom: 20px;
}

#footer p {
  padding: 10px 10px 10px 10px;
}

#footerleft {
  float: left;
  align: left;
}

#footer a,
#footer a:hover {
  color: #555;
  text-decoration: none;
}

#footer a:hover {
  color: #35BDF5;
  text-decoration: none;
}

.gallery img {
  position: absolute;
}

.form_settings {
  margin: 5px 0 0 0;
}

.form_settings p {
  padding: 0 0 10px 0;
}

.form_settings span {
  padding: 5px 0;
  float: left;
  width: 170px;
  text-align: left;
}

.form_settings input,
.form_settings textarea {
  width: 252px;
  font: 100% 'trebuchet ms', arial;
  border: 0;
  border: 1px solid #eee;
  padding: 5px 10px;
  background: #fff;
  color: #FFF;
}

.form_settings .submit {
  border: 0;
  width: auto;
  margin: 0 0 0 200px;
  cursor: pointer;
  color: #35BDF5;
  border: 1px solid #ddd;
  padding: 5px 15px;
  background: #fff;
  font: normal 140% 'Yanone Kaffeesatz', sans-serif;
}

.form_settings textarea,
.form_settings select {
  font: 100% 'trebuchet ms', arial;
  border: 1px solid #eee;
  padding: 5px 10px;
  background: #fff;
  width: 252px;
  overflow: auto;
}

.form_settings select {
  width: 274px;
}

.form_settings .checkbox {
  margin: 4px 0;
  padding: 0;
  width: 14px;
  border: 0;
  background: none;
}

.search {
  color: #666;
  border: 1px solid #eee;
  margin: 0;
  padding: 10px 5px;
  width: 189px;
  color: #F14E23;
}

.subscribe {
  color: #35BDF5;
  border: 1px solid #ddd;
  padding: 5px 10px;
  background: #fff;
  float: right;
  cursor: pointer;
  margin: 0;
  font: normal 140% 'Yanone Kaffeesatz', sans-serif;
}

table {
  margin: 10px 0 30px 0;
}

table tr th,
table tr td {
  background: #F5F5F5;
  color: #111;
  padding: 7px 4px;
  text-align: left;
}

table tr td {
  background: #FBFBFB;
  color: #111;
  border-top: 1px solid #FFF;
}

.highlight {
  background: #ff0;
}

.clear {
  clear: both;
}

div.searchbox {
  padding-bottom: 15px;
  padding-top: 15px;
  overflow: hidden;
  padding: 5px;
  margin-bottom: 10px;
  width: 370px;
}

input.searchbox {
  font-size: 12px;
  color: #999;
  padding: 4px 10px 5px 30px;
  width: 313px;
  border: 1px solid #ddd;
  background: url(../../images/icons/search.png) center left no-repeat;
  background-size: 17px 17px;
  float: left;
  border-radius: 6px;
}

a.searchbox {
  padding: 4px 10px 5px 10px;
  height: 15px;
  float: right;
  display: inline-block;
  background: url(../../images/icons/close.png) center right no-repeat;
  z-index: 0;
  position: relative;
  vertical-align: middle;
  left: -20px;
  margin: 0 0px 0 -70px;
}

.publication {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 20px;
}

.pubtitle {
  font-size: 120%;
  margin: 0 0 3px 0;
  color: #F14E23;
}

.pubauthors {
  font: 95% arial, sans-serif;
  margin: 0 0 3px 0;
}

.pubjournal {
  font: italic 95% arial, sans-serif;
  color: #888;
}


.pubabstract {
  padding: 0 100px 0px 10px;
  border-style: solid;
  border-right: none;
  border-bottom: none;
  border-top: none;
  display: none;
  font: 90% arial, sans-serif;
}

.software-image {
  float: left;
  margin: 8px 10px 10px 10px;
  border: 1px solid #555;
}


#content #slides {
  position: relative;
  display: block;
  z-index: 100;
  width: 650px;
  height: 440px;
  border: 1px solid #757474;
  border-radius: 10px;

  background: rgb(247, 249, 252);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(247, 249, 252, 1) 0%, rgba(218, 233, 239, 1) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(247, 249, 252, 1)), color-stop(100%, rgba(218, 233, 239, 1)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(247, 249, 252, 1) 0%, rgba(218, 233, 239, 1) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(247, 249, 252, 1) 0%, rgba(218, 233, 239, 1) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(247, 249, 252, 1) 0%, rgba(218, 233, 239, 1) 100%);
  /* IE10+ */
  background: linear-gradient(top, rgba(247, 249, 252, 1) 0%, rgba(218, 233, 239, 1) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f9fc', endColorstr='#dae9ef', GradientType=0);
  /* IE6-9 */

}


#content .slides_container {
  display: block;
  height: 445px;
  margin: 0;
}

#content .slides_container img {
  display: block;
  border: 1px solid #555;
  float: right;
  margin-left: 3px;
  margin-bottom: 3px;
  margin-right: 0;
}



#content #slides .prev {
  margin-left: 6px;
  margin-right: 10px;
  margin-top: 2px;
  float: left;
}

#content #slides .next {
  margin-right: 10px;
  margin-top: 2px;
  float: left;
}

#content #slides .slide {
  padding: 15px;
  width: 620px;
  height: 400px;
  display: block;
  float: left;
}

#content .pagination {
  margin: 6px 0 6px;
  float: right;
  list-style: none;
}

#content .pagination li {
  float: left;
  margin: 0 1px;
  background: transparent;
}

#content .pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url(../../images/icons/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}

#content #slides h3 {
  display: inline-block;
}

#content .pagination li.current a,
#content .pagination li.current a:hover {
  background-position: 0 -13px
}

#content .pagination li a:hover {
  background-position: 0 -26px
}

#slides a.nav:link,
#slides a.nav:visited {
  color: #333
}

#slides a.nav:hover,
#slides a.nav:active {
  color: #9e2020
}

#slides p {
  padding: 0 0 10px 0;
}


#portraits {
  list-style: none;
  list-style-type: none;
  clear: both;
}

#portraits li {
  width: 100%;
  display: block;
  clear: both;
  padding: 10px;
  background: transparent;
}

#portraits div.photo {
  margin: 0px 20px 0 20px;
  display: inline;
  padding: 10px 10px 25px 10px;

  border: 1px solid #fff;
  box-shadow: 7px 5px 5px rgba(64, 64, 64, 0.2);
  float: left;

  background: #FCF9E0;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(252, 252, 252, 1) 55%, rgba(247, 241, 205, 1) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(55%, rgba(252, 252, 252, 1)), color-stop(100%, rgba(247, 241, 205, 1)));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(252, 252, 252, 1) 55%, rgba(247, 241, 205, 1) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(252, 252, 252, 1) 55%, rgba(247, 241, 205, 1) 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(252, 252, 252, 1) 55%, rgba(247, 241, 205, 1) 100%);
  /* IE10+ */
  background: radial-gradient(center, ellipse cover, rgba(252, 252, 252, 1) 55%, rgba(247, 241, 205, 1) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f7f1cd', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

}

#portraits .info {}

#portraits img {
  width: 150px;
  height: 165px;
}

#portraits .pic1 {
  z-index: 3;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}

#portraits .pic2 {
  z-index: 2;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
}

#portraits .pic3 {
  z-index: 1;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
}

#portraits .pic4 {
  z-index: 1;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
}

#portraits div.photo:hover {
  z-index: 10;
  -moz-box-shadow: 3px 5px 15px #333;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);

}




/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: http://lemonwi.se co-founder

    */

@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot');
  src: url('../font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../font/fontawesome-webfont.woff') format('woff'), url('../font/fontawesome-webfont.ttf') format('truetype'), url('../font/fontawesome-webfont.svgz#FontAwesomeRegular') format('svg'), url('../font/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* sprites.less reset */

[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
}

li[class^="icon-"],
li[class*=" icon-"] {
  display: block
}

/*  Font Awesome styles
    ------------------------------------------------------- */

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}

/* makes the font 33% larger relative to the icon container */

.icon-large:before {
  vertical-align: top;
  font-size: 1.3333333333333333em;
}

.btn [class^="icon-"],
.btn [class*=" icon-"] {
  /* keeps button heights with and without icons the same */
  line-height: .9em;
}

li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}

li .icon-large[class^="icon-"],
li .icon-large[class*=" icon-"] {
  /* 1.5 increased font size for icon-large * 1.25 width */
  width: 1.875em;
}

li[class^="icon-"],
li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}

li[class^="icon-"]:before,
li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}

li[class^="icon-"].icon-large:before,
li[class*=" icon-"].icon-large:before {
  text-indent: -1.3333333333333333em
}

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */

.icon-glass:before {
  content: "\f000"
}

.icon-music:before {
  content: "\f001"
}

.icon-search:before {
  content: "\f002"
}

.icon-envelope:before {
  content: "\f003"
}

.icon-heart:before {
  content: "\f004"
}

.icon-star:before {
  content: "\f005"
}

.icon-star-empty:before {
  content: "\f006"
}

.icon-user:before {
  content: "\f007"
}

.icon-film:before {
  content: "\f008"
}

.icon-th-large:before {
  content: "\f009"
}

.icon-th:before {
  content: "\f00a"
}

.icon-th-list:before {
  content: "\f00b"
}

.icon-ok:before {
  content: "\f00c"
}

.icon-remove:before {
  content: "\f00d"
}

.icon-zoom-in:before {
  content: "\f00e"
}

.icon-zoom-out:before {
  content: "\f010"
}

.icon-off:before {
  content: "\f011"
}

.icon-signal:before {
  content: "\f012"
}

.icon-cog:before {
  content: "\f013"
}

.icon-trash:before {
  content: "\f014"
}

.icon-home:before {
  content: "\f015"
}

.icon-file:before {
  content: "\f016"
}

.icon-time:before {
  content: "\f017"
}

.icon-road:before {
  content: "\f018"
}

.icon-download-alt:before {
  content: "\f019"
}

.icon-download:before {
  content: "\f01a"
}

.icon-upload:before {
  content: "\f01b"
}

.icon-inbox:before {
  content: "\f01c"
}

.icon-play-circle:before {
  content: "\f01d"
}

.icon-repeat:before {
  content: "\f01e"
}

/* \f020 is not a valid unicode character. all shifted one down */

.icon-refresh:before {
  content: "\f021"
}

.icon-list-alt:before {
  content: "\f022"
}

.icon-lock:before {
  content: "\f023"
}

.icon-flag:before {
  content: "\f024"
}

.icon-headphones:before {
  content: "\f025"
}

.icon-volume-off:before {
  content: "\f026"
}

.icon-volume-down:before {
  content: "\f027"
}

.icon-volume-up:before {
  content: "\f028"
}

.icon-qrcode:before {
  content: "\f029"
}

.icon-barcode:before {
  content: "\f02a"
}

.icon-tag:before {
  content: "\f02b"
}

.icon-tags:before {
  content: "\f02c"
}

.icon-book:before {
  content: "\f02d"
}

.icon-bookmark:before {
  content: "\f02e"
}

.icon-print:before {
  content: "\f02f"
}

.icon-camera:before {
  content: "\f030"
}

.icon-font:before {
  content: "\f031"
}

.icon-bold:before {
  content: "\f032"
}

.icon-italic:before {
  content: "\f033"
}

.icon-text-height:before {
  content: "\f034"
}

.icon-text-width:before {
  content: "\f035"
}

.icon-align-left:before {
  content: "\f036"
}

.icon-align-center:before {
  content: "\f037"
}

.icon-align-right:before {
  content: "\f038"
}

.icon-align-justify:before {
  content: "\f039"
}

.icon-list:before {
  content: "\f03a"
}

.icon-indent-left:before {
  content: "\f03b"
}

.icon-indent-right:before {
  content: "\f03c"
}

.icon-facetime-video:before {
  content: "\f03d"
}

.icon-picture:before {
  content: "\f03e"
}

.icon-pencil:before {
  content: "\f040"
}

.icon-map-marker:before {
  content: "\f041"
}

.icon-adjust:before {
  content: "\f042"
}

.icon-tint:before {
  content: "\f043"
}

.icon-edit:before {
  content: "\f044"
}

.icon-share:before {
  content: "\f045"
}

.icon-check:before {
  content: "\f046"
}

.icon-move:before {
  content: "\f047"
}

.icon-step-backward:before {
  content: "\f048"
}

.icon-fast-backward:before {
  content: "\f049"
}

.icon-backward:before {
  content: "\f04a"
}

.icon-play:before {
  content: "\f04b"
}

.icon-pause:before {
  content: "\f04c"
}

.icon-stop:before {
  content: "\f04d"
}

.icon-forward:before {
  content: "\f04e"
}

.icon-fast-forward:before {
  content: "\f050"
}

.icon-step-forward:before {
  content: "\f051"
}

.icon-eject:before {
  content: "\f052"
}

.icon-chevron-left:before {
  content: "\f053"
}

.icon-chevron-right:before {
  content: "\f054"
}

.icon-plus-sign:before {
  content: "\f055"
}

.icon-minus-sign:before {
  content: "\f056"
}

.icon-remove-sign:before {
  content: "\f057"
}

.icon-ok-sign:before {
  content: "\f058"
}

.icon-question-sign:before {
  content: "\f059"
}

.icon-info-sign:before {
  content: "\f05a"
}

.icon-screenshot:before {
  content: "\f05b"
}

.icon-remove-circle:before {
  content: "\f05c"
}

.icon-ok-circle:before {
  content: "\f05d"
}

.icon-ban-circle:before {
  content: "\f05e"
}

.icon-arrow-left:before {
  content: "\f060"
}

.icon-arrow-right:before {
  content: "\f061"
}

.icon-arrow-up:before {
  content: "\f062"
}

.icon-arrow-down:before {
  content: "\f063"
}

.icon-share-alt:before {
  content: "\f064"
}

.icon-resize-full:before {
  content: "\f065"
}

.icon-resize-small:before {
  content: "\f066"
}

.icon-plus:before {
  content: "\f067"
}

.icon-minus:before {
  content: "\f068"
}

.icon-asterisk:before {
  content: "\f069"
}

.icon-exclamation-sign:before {
  content: "\f06a"
}

.icon-gift:before {
  content: "\f06b"
}

.icon-leaf:before {
  content: "\f06c"
}

.icon-fire:before {
  content: "\f06d"
}

.icon-eye-open:before {
  content: "\f06e"
}

.icon-eye-close:before {
  content: "\f070"
}

.icon-warning-sign:before {
  content: "\f071"
}

.icon-plane:before {
  content: "\f072"
}

.icon-calendar:before {
  content: "\f073"
}

.icon-random:before {
  content: "\f074"
}

.icon-comment:before {
  content: "\f075"
}

.icon-magnet:before {
  content: "\f076"
}

.icon-chevron-up:before {
  content: "\f077"
}

.icon-chevron-down:before {
  content: "\f078"
}

.icon-retweet:before {
  content: "\f079"
}

.icon-shopping-cart:before {
  content: "\f07a"
}

.icon-folder-close:before {
  content: "\f07b"
}

.icon-folder-open:before {
  content: "\f07c"
}

.icon-resize-vertical:before {
  content: "\f07d"
}

.icon-resize-horizontal:before {
  content: "\f07e"
}

.icon-bar-chart:before {
  content: "\f080"
}

.icon-twitter-sign:before {
  content: "\f081"
}

.icon-facebook-sign:before {
  content: "\f082"
}

.icon-camera-retro:before {
  content: "\f083"
}

.icon-key:before {
  content: "\f084"
}

.icon-cogs:before {
  content: "\f085"
}

.icon-comments:before {
  content: "\f086"
}

.icon-thumbs-up:before {
  content: "\f087"
}

.icon-thumbs-down:before {
  content: "\f088"
}

.icon-star-half:before {
  content: "\f089"
}

.icon-heart-empty:before {
  content: "\f08a"
}

.icon-signout:before {
  content: "\f08b"
}

.icon-linkedin-sign:before {
  content: "\f08c"
}

.icon-pushpin:before {
  content: "\f08d"
}

.icon-external-link:before {
  content: "\f08e"
}

.icon-signin:before {
  content: "\f090"
}

.icon-trophy:before {
  content: "\f091"
}

.icon-github-sign:before {
  content: "\f092"
}

.icon-upload-alt:before {
  content: "\f093"
}

.icon-lemon:before {
  content: "\f094"
}

.section-header {
  font-size: 2em;
  margin-top: 10px;
  color: #F14E23;
}

.alumni-header {
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
  margin-top: 40px;
}

#alumni-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

#alumni-table td {
  padding: 10px;
  border: 1px solid #ddd;
  vertical-align: top;
}

#alumni-table .alumni-name {
  font-weight: bold;
  color: #F14E23;
}

#alumni-table .alumni-info {
  color: #555;
}